<footer class="main-footer">
  <div class="inner-wrap">
    <div class="cookies-alert">
      <p>By using our website, you agree to our use of cookies.</p>
      <a href="#" class="close-btn">
         <img src="assets/images/png-icons/alert-close.png" alt="Close"/>
      </a>
    </div>
    <div class="steps-nav-wrap">
      <a href="#" class="steps-btn">
        <img src="assets/images/png-icons/go-back.png" alt="Go Back"/>
      </a>
      <a href="#" class="steps-btn">
        <img src="assets/images/png-icons/go-next.png" alt="Go Next"/>
      </a>
    </div>
  </div>
</footer>
