.date-box {
  max-width: 265px;
}
.time-box {
  max-width: 149px;
}
.controls-nav {
  padding-top: 17px;
  border-top: 1px solid #f5f5f5;
}
.cols-wrap {
  > [class*="col"] + [class*="col"] {
    position: relative;
    &:before {
      content: "";
      position: absolute;
      top: 44px;
      left: 0;
      height: calc(100% - 44px);
      width: 1px;
      border-left: 1px solid #f5f5f5;
    }
  }
}
