<div class="appointment-col">
  <h3>Resources</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Title">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">No Resources</h6>
    </div>
    <span class="panel-divider"></span>
    <div class="panel selected">
      <a href="#" class="close-panel"><img src="assets/images/svg/close_round.svg" alt="Close" /></a>
      <h6 class="m-0">Code Rings</h6>
    </div>
    <div class="panel">
      <h6 class="m-0">Dappen Dishes</h6>
    </div>
    <div class="panel">
      <h6 class="m-0">Tapen Tell</h6>
    </div>
    <div class="panel">
      <h6 class="m-0">Lorem Ipsum</h6>
    </div>
    <div class="panel">
      <h6 class="m-0">Dollet Amet</h6>
    </div>
  </div>
  <!-- /.entity-list -->
</div>
