<div class="clients-col">
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Type client name">
  </div>
  <div class="entity-list">
    <div class="media panel">
      <img src="assets/images/placeholders/users/loki.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Alex Doe</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel active">
      <img src="assets/images/placeholders/users/andreas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/thomas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Thomas Brown</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
        <div class="media panel">
      <img src="assets/images/placeholders/users/chris.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">David Johnson</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/sophia.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Sophia Doe</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
  </div>
</div>
