<div class="container-fluid">
  <div class="row">
    <div class="col text-center mb-6">
      <a routerLink="/" class="nav-logo">TREEFY</a>
    </div>
  </div>
  <div class="row">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/new-appointment">- New Appointment</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/clients">- Clients</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/internal-note">- Internal Note</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/calendar/calendar-init">- Calendar. Init</a>
    </li>
  </ul>
  </div>
</div>

