<div class="appointment-col">
  <h3>Service</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Title, ID">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">Custom Service</h6>
    </div>
    <span class="panel-divider"></span>
    <div class="panel">
      <h6 class="m-0">White fillings</h6>
      <p class="text-secondary w-100 m-0 d-flex justify-content-between">
          <span>45min</span>
          <span>&euro;240</span>
      </p>
    </div>
    <div class="panel">
      <h6 class="m-0">White fillings</h6>
      <p class="text-secondary w-100 m-0 d-flex justify-content-between">
          <span>45min</span>
          <span>&euro;240</span>
      </p>
    </div>
    <div class="panel">
      <h6 class="m-0">White fillings</h6>
      <p class="text-secondary w-100 m-0 d-flex justify-content-between">
          <span>45min</span>
          <span>&euro;240</span>
      </p>
    </div>
    <div class="panel">
      <h6 class="m-0">White fillings</h6>
      <p class="text-secondary w-100 m-0 d-flex justify-content-between">
          <span>45min</span>
          <span>&euro;240</span>
      </p>
    </div>
    <div class="panel">
      <h6 class="m-0">White fillings</h6>
      <p class="text-secondary w-100 m-0 d-flex justify-content-between">
          <span>45min</span>
          <span>&euro;240</span>
      </p>
    </div>
  </div>
  <!-- /.entity-list -->
</div>
