<div class="clients-col">
  <h4 class="section-headline">Payments</h4>

  <div class="info-card-wrap">

    <div class="info-card-collapsed">
      <div class="info-card">
        <div class="row">
          <div class="col text-left">
             <h6 class="m-0">Apr</h6>
             <p class="text-secondary mb-0">2019</p>
          </div>
          <div class="col text-right">
            <h6 class="m-0">3</h6>
            <p class="text-success mb-0">&euro;4050</p>
          </div>
        </div>
      </div>
      <!-- /.info-card -->

      <!--
      *
      *  Since Info Box when expanded looks different and require different design -
      *  those under-boxes will be just as placeholder to show how much other boxes are underneath.
      *
      -->

      <div class="bottom-layer"></div>
      <div class="bottom-layer"></div>
    </div>

    <div class="info-card-collapsed">
      <div class="info-card">
        <div class="row">
          <div class="col text-left">
             <h6 class="m-0">Dec</h6>
             <p class="text-secondary mb-0">2018</p>
          </div>
          <div class="col text-right">
            <h6 class="m-0">6</h6>
            <p class="text-success mb-0">&euro;8170</p>
          </div>
        </div>
      </div>
      <!-- /.info-card -->

      <div class="bottom-layer"></div>
      <div class="bottom-layer"></div>
      <div class="bottom-layer"></div>
    </div>

  </div>
</div>
