<div class="appointment-col">
  <h3>Staff</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Name, ID">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">Any Available Doctor</h6>
    </div>
    <span class="panel-divider"></span>
    <div class="media panel selected">
      <a href="#" class="close-panel"><img src="assets/images/svg/close_rounded.svg" alt="Close" /></a>
      <img src="assets/images/placeholders/users/andreas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Caspar Sawrey</h6>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/sophia.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Jana Strassmann</h6>
      </div>
    </div>
    <div class="media panel disabled">
      <img src="assets/images/placeholders/users/thomas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
        <p class="text-secondary mb-0">Available from <a href="#">12:30 PM</a></p>
      </div>
    </div>
    <div class="media panel disabled">
      <img src="assets/images/placeholders/users/chris.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Caspar Sawrey</h6>
        <p class="text-secondary mb-0">Available from <a href="#">11:00 AM</a></p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/loki.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
  </div>
  <!-- /.entity-list -->
</div>


