<div class="appointment-col">
  <h3>Staff</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Name, ID">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">Any Available Doctor</h6>
    </div>
    <span class="panel-divider"></span>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Isaac Hunt</h6>
      </div>
    </div>
  </div>
  <!-- /.entity-list -->
</div>


