<div class="clients-col">
  <h4 class="section-headline">Appointments</h4>

  <div class="info-card-wrap">
    <div class="info-card-expanded">
      <div class="header">January</div>
      <div class="body">
        <ul class="list">
          <li>
            <div class="w-100 d-flex justify-content-between">
              <span class="text-secondary">Jan 27, 13:30 — 14:30</span>
              <span class="fw-500">&euro;1,328</span>
            </div>
            <div>Magnetic Resonance Imaging</div>
            <div><a href="#">Dr. Chris Pratt</a></div>
          </li>
          <li>
            <div class="w-100 d-flex justify-content-between">
              <span class="text-secondary">Jan 20, 12:00 — 13:00</span>
              <span class="fw-500">&euro;80</span>
            </div>
            <div>Ultrasonography</div>
            <div><a href="#">Dr. Amanda Hamilton</a></div>
          </li>
          <li>
            <div class="w-100 d-flex justify-content-between">
              <span class="text-secondary">Jan 18, 12:00 — 13:00</span>
              <span class="text-danger">Canceled</span>
            </div>
            <div>Tomography</div>
            <div><a href="#">Dr. Jeremy Atkins</a></div>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.info-card-expanded -->

    <div class="info-card-collapsed">
      <div class="info-card">
        <div class="row">
          <div class="col text-left">
             <h6 class="m-0">Apr</h6>
             <p class="text-secondary mb-0">2019</p>
          </div>
          <div class="col text-center">
            <div>1</div>
            <div class="text-secondary">finished</div>
          </div>
          <div class="col text-center">
            <div class="text-danger">1</div>
            <div class="text-secondary">canceled</div>
          </div>
          <div class="col text-right">
            <h6 class="m-0 big">2</h6>
          </div>
        </div>
      </div>
      <!-- /.info-card -->

      <div class="bottom-layer"></div>
    </div>
    <!-- /.info-card-collapsed -->

    <div class="info-card-collapsed">
      <div class="info-card">
        <div class="row">
          <div class="col text-left">
             <h6 class="m-0">Dec</h6>
             <p class="text-secondary mb-0">2018</p>
          </div>
          <div class="col text-center">
            <div>1</div>
            <div class="text-secondary">finished</div>
          </div>
          <div class="col text-center">
            <div class="text-danger">1</div>
            <div class="text-secondary">canceled</div>
          </div>
          <div class="col text-right">
            <h6 class="m-0 big">6</h6>
          </div>
        </div>
      </div>
      <!-- /.info-card -->

      <div class="bottom-layer"></div>
      <div class="bottom-layer"></div>
      <div class="bottom-layer"></div>
    </div>
    <!-- /.info-card-collapsed -->
  </div>
</div>
