.media {
  &.panel {
    &.selected {
      flex-wrap: wrap;
    }
  }
}

.client-info-box {
  flex: 0 0 100%;
  margin-top: 12px;
  padding-top: 18px;
  border-top: 1px solid #f2f2f2;
  .info-list {
    margin: 10px 0 0;
    padding: 0;
    li:last-child {
      p {
        margin-bottom: 0;
      }
    }
    span {
      color: #a3a3a3;
    }
    p {
      font-size: 18px;
      color: #626262;
      line-height: 1;
    }
  }
}
