<section class="appointment-col">
  <h3>Client</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Name, phone, email, ID">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">Walk-in Client</h6>
    </div>
    <span class="panel-divider"></span>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary m-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary m-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary m-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary m-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="https://via.placeholder.com/150" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary m-0">Sep 7, 1983</p>
      </div>
    </div>
  </div>
  <!-- /.entity-list -->
</section>
