<section class="appointment-col">
  <h3>Client</h3>
  <div class="input-group addon-search">
    <input type="text" class="form-control lg" placeholder="Name, phone, email, ID">
  </div>

  <div class="entity-list">
    <div class="panel default">
      <h6 class="m-0">Walk-in Client</h6>
    </div>
    <span class="panel-divider"></span>

    <div class="media panel selected">
      <a href="#" class="close-panel"><img src="assets/images/svg/close_round.svg" alt="Close" /></a>

      <img src="assets/images/placeholders/users/sophia.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Sophia Lillis</h6>
      </div>
      <div class="client-info-box">
        <div class="text-center">
          <button class="btn form-button btn-sm btn-outline-secondary">Details & Edit</button>
        </div>
        <ul class="info-list">
          <li>
            <span>Balance</span>
            <p class="text-danger">−€1,260</p>
          </li>
          <li>
            <span>Discount</span>
            <p>5%</p>
          </li>
          <li>
            <span>Email</span>
            <p><a href="#">sophia@gmail.com</a></p>
          </li>
          <li>
            <span>Date of Birth</span>
            <p>Aug 21, 1981</p>
          </li>
        </ul>
      </div>
    </div>

    <div class="media panel">
      <img src="assets/images/placeholders/users/loki.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Alex Doe</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/andreas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Andreas Brixen</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/thomas.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Thomas Brown</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
    <div class="media panel">
      <img src="assets/images/placeholders/users/mariana.png" class="mr-3 media-img" alt="Img 1">
      <div class="media-body">
        <h6 class="m-0">Jane Brixen</h6>
        <p class="text-secondary mb-0">Sep 7, 1983</p>
      </div>
    </div>
  </div>
  <!-- /.entity-list -->
</section>
