 <div class="calendar-inner-wrap">

    <ul class="staff-list">
      <li style="width: 50%;">
        <div class="media">
          <img src="assets/images/placeholders/users/andreas.png" class="mr-3 media-img" alt="Img 1">
          <div class="media-body">
            <h6 class="m-0">Andreas Brixen</h6>
            <p class="text-secondary mb-0">9:00 - 18:00</p>
          </div>
        </div>
      </li>
      <li style="width: 50%;">
        <div class="media">
          <img src="assets/images/placeholders/users/thomas.png" class="mr-3 media-img" alt="Img 1">
          <div class="media-body">
            <h6 class="m-0">Alex Doe</h6>
            <p class="text-secondary mb-0">9:00 - 18:00</p>
          </div>
        </div>
      </li>
    </ul>
    <!-- /.staff-list -->

    <div class="calendar-grid">
      <div class="calendar-content">
        <div class="column" style="width: 50%;"></div>
        <div class="column" style="width: 50%;"></div>
      </div>


      <div class="calendar-sessions">
        <div class="session-item"><span>9:00</span></div>
        <div class="session-item"><span>10:00</span></div>
        <div class="session-item"><span>11:00</span></div>
        <div class="session-item"><span>12:00</span></div>
        <div class="session-item"><span>13:00</span></div>
        <div class="session-item"><span>14:00</span></div>
        <div class="session-item"><span>15:00</span></div>
        <div class="session-item"><span>16:00</span></div>
        <div class="session-item"><span>17:00</span></div>
        <div class="session-item"><span>18:00</span></div>
      </div>
      <!-- /.calendar-sessions -->

      <div class="calendar-grid-body">
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
        <div class="hour-line"></div>
      </div>
      <!-- /.calendar-grid-body -->

    </div>
    <!-- /.calendar-grid -->
  </div>

