<div class="next-service-wrap">
  <header class="appointment-service-actions">
    <span class="number">#1</span>
    <nav>
      <a routerLink="#">Edit</a>
      <a routerLink="#">Remove</a>
    </nav>
  </header>
  <div class="next-service-box">
    <div class="row">
      <div class="col">
        <div class="media panel">
          <img src="assets/images/placeholders/users/sophia.png" class="mr-3 media-img" alt="Img 1">
          <div class="media-body">
            <h6 class="m-0">Sophia Lillis</h6>
            <p class="text-secondary m-0">Sep 7, 1983</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="panel">
          <h6 class="m-0">White fillings</h6>
          <p class="text-secondary w-100 m-0 d-flex justify-content-between">
              <span>&euro;100</span>
              <span></span>
          </p>
        </div>
      </div>
      <div class="col" >
        <div class="panel">
          <h6 class="m-0">April 9</h6>
          <p class="text-secondary w-100 m-0 d-flex">
              <span>10:00 AM — 11:00 AM</span>
          </p>
        </div>
      </div>
      <div class="col">
        <div class="media panel">
          <img src="assets/images/placeholders/users/thomas.png" class="mr-3 media-img" alt="Img 1">
          <div class="media-body">
            <h6 class="m-0">Jana Strassmann</h6>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="panel">
          <h6 class="m-0">Code Rings</h6>
          <p class="text-secondary w-100 m-0 d-flex">
              <span>&euro;5</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="waiting-wrap">
    <span class="time">15 minutes waiting</span>
  </div>
</div>


