<div class="appointment-col">
  <h3>Date & Time</h3>
  <div class="input-group addon-date">
    <input type="text" class="form-control lg" placeholder="yyyy/mm/dd" ngbDatepicker #d="ngbDatepicker" (focus)="d.toggle()">
  </div>

  <section class="date-calendar-wrap">
      <h2 class="headline">April</h2>
      <div class="date-calendar-box">
        <a routerLink="#" class="arrow prev">
          <img src="assets/images/svg/arrow_prev.svg" />
        </a>
        <span class="date-box">9</span>
        <a routerLink="#" class="arrow next">
          <img src="assets/images/svg/arrow_next.svg" />
        </a>
      </div>
      <span class="weekday-box">Tuesday</span>
  </section>
  <!-- /.date-calendar-wrap -->

  <div class="time-picker-wrap">
    <div class="inner-wrap">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="HH:MM" value="11:15 AM">
      </div>
      <div class="divider">—</div>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="HH:MM" value="12:00 PM">
      </div>
    </div>
    <span class="timespan">45 minutes</span>
  </div>
</div>

