<div class="appointment-wrapper">
  <div class="container-fluid">

  <h1 class="container-headline">New Appointment</h1>

  <div class="row services-outer-wrap">
    <div class="col-24">
      <app-next-service></app-next-service>
      <div class="appointment-service-actions">
        <span class="number">#2</span>
        <nav>
          <a routerLink="#">Remove</a>
        </nav>
      </div>
    </div>
  </div>

  <div class="row cols-wrap">
    <div class="col">
      <app-clients></app-clients>
    </div>
    <div class="col">
      <app-services></app-services>
    </div>
    <div class="col">
      <app-date-time></app-date-time>
    </div>
    <div class="col">
      <app-staff></app-staff>
    </div>
    <div class="col">
      <app-resources></app-resources>
    </div>
  </div>
  <!-- /.cols-wrap -->

  <div class="row appointment-notes-wrap">
    <div class="col">
      <form>
        <div class="form-group">
          <label class="text-black-50">Message to The Client</label>
          <textarea class="form-control" rows="2"></textarea>
        </div>
      </form> 
    </div>
    <div class="col">
      <form>
        <div class="form-group">
          <label class="text-black-50">Note for Staff Only</label>
          <textarea class="form-control" rows="2"></textarea>
        </div>
      </form>
    </div>
  </div>
  <!-- /.appointment-notes-wrap -->

  <footer class="appointment-bottom-panel row">
      <div class="col-auto mr-auto">
        <label class="switch-control">
          <span class="switch-box">
            <input type="checkbox">
            <span class="slider round"></span>
          </span>
          Calendar
        </label>
      </div>
      <div class="col-auto text-right">
        <ul class="bottom-nav">
            <li><a href="#">Repeat</a></li>
            <li class="d-flex">
              Total Services:
              <i class="services-number">2</i>
            </li>
            <li><a href="#">Add Next Service</a></li>
            <li>
              <span class="total-price-wrap">
                <span class="price-box">&euro;0,00</span>
                <a href="#" class="price-edit">
                  <img src="assets/images/svg/blue_pencil_edit.svg" alt="Edit" />
                </a>
              </span>
            </li>
            <li>
              <nav class="controls-nav">
                <button type="button" class="form-button btn btn-outline-secondary btn-sm">Cancel</button>
                <button type="button" class="form-button btn btn-outline-primary btn-sm dotted">Save as draft</button>
                <button class="form-button btn btn-primary" type="submit">Save</button>
              </nav>
            </li>
        </ul>
      </div>
  </footer>
  </div>
</div>


