@import "~src/assets/styles/mixins";
@import "~src/assets/styles/variables";

.cols-wrap {
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 20px;
  .col {
    & + .col {
      position: relative;
      &:before {
        content: "";
        position: absolute;
        top: 38px;
        left: 0;
        height: calc(100% - 18px);
        width: 1px;
        border-left: 1px solid #f5f5f5;
      }
    }
  }
}
.appointment-notes-wrap {
  margin-top: 40px;
}

.services-outer-wrap {
  .appointment-service-actions {
    border-bottom: 1px solid #f5f5f5;
    margin-bottom: 10px;
    margin-top: -20px;
  }
}

.appointment-bottom-panel {
  border-top: 1px solid #f5f5f5;
  padding-top: 20px;
  margin-bottom: 40px;
  align-items: center;
  .bottom-nav {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    & > li {
      display: inline;
      & + li {
        margin-left: 30px;
      }
    }
    .services-number {
      width: 26px;
      height: 26px;
      margin-left: 5px;
      font: normal 500 16px/18px "Source Sans Pro";
      color: #fff;
      text-align: center;
      border: 3px solid #ffffff;
      background-image: linear-gradient(to bottom, #35e42b, #21cc17);
      @include radius(50%);
      @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.11));
    }
    .total-price-wrap {
      display: inline-flex;
      align-items: center;
      margin-left: 10px;
      .price-box {
          font-size: 32px;
          color: #626262;
          margin-right: 5px;
          line-height: 1;
      }
      .price-edit {
        img {

        }
      }
    }
  }
}


