@import "~src/assets/styles/mixins";

.auth-main-wrap {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -55vh;
    height: 100vh;
    background: #cfe0d5;
    background: -moz-linear-gradient(left, #cfe0d5 0%, #8fb9a4 100%);
    background: -webkit-linear-gradient(left, #cfe0d5 0%, #8fb9a4 100%);
    background: linear-gradient(to right, #cfe0d5 0%, #8fb9a4 100%);
    -webkit-transform: skew(0, -13deg);
    transform: skew(0, -13deg);
    z-index: 0;
  }
}

.auth-outer-wrap {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 260px);
  align-items: center;
  justify-content: center;

  .auth-popup {
    width: 600px;
    padding: 40px 50px;
    background: #fff;
    @include shadow(0px 14px 24px 0px rgba(5, 2, 6, 0.05));
    @include radius(6px);
  }
}
