@import "~src/assets/styles/variables";
@import "~src/assets/styles/mixins";


/* === Popup Wrapper === */
.auth-main-wrap {
  min-height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    bottom: -58vh;
    height: 100vh;
    background: #cfdfd5;
    background: -moz-linear-gradient(left, #cfdfd5 0%, #8ab29e 96%);
    background: -webkit-linear-gradient(left, #cfdfd5 0%, #8ab29e 96%);
    background: linear-gradient(to right, #cfdfd5 0%, #8ab29e 96%);
    -webkit-transform: skew(0, -13deg);
    transform: skew(0, -13deg);
    z-index: 0;
  }
}

.auth-outer-wrap {
  display: flex;
  position: relative;
  z-index: 2;
  width: 100%;
  min-height: calc(100vh - 260px);
  align-items: center;
  justify-content: center;

  .auth-popup {
    width: 600px;
    padding: 40px 0;
    background: #fff;
    margin: 60px 0;
    @include shadow(8px -10px 24px 0px rgba(5, 2, 6, 0.05));
    @include radius(6px);
  }
}


/* === Popup Elements === */
.auth-popup-panel {
  font-weight: 100;
  font-size: 20px;
  padding: 0 50px;
  -webkit-font-smoothing: initial;

  .input-group {
    margin-bottom: 34px;

    &.with-icon {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;

      .icon-box {
        text-align: center;
        margin-right: 18px;

        img {
          max-width: 100%;
        }
      }
    }

    &.with-r-btn {
      position: relative;

      button {
        position: absolute;
        top: 0;
        right: 0;
        background-color: transparent;
        border: 0;
        height: 55px;
        width: auto;
        padding: 0 12px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &.search {
      position: relative;

      .icon-box {
        position: absolute;
        top: 0;
        left: 25px;
        z-index: 4;
        background-color: transparent;
        border: 0;
        height: 32px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .form-control {
        height: 32px;
        padding-left: 50px;
        font-size: 20px;
      }
    }
  }

  .btn-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .auth-btn {
      padding: 0 20px;

      & + .auth-btn {
        margin-left: 35px;
      }
    }
  }
}

.custom-check.remember-me {
  margin-bottom: 40px;
  margin-top: 18px;
  padding-left: 30px;
  color: #8ab29e;
}

.custom-check {
  font-weight: 100;
  font-size: 20px;
  user-select: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0;

  input {
    opacity: 0;
    position: absolute;
    left: -9999px;

    &:checked {
      & + span {
        &:before {
          background-position: top left;
        }
      }
    }
  }

  span {
    padding-left: 30px;
    position: relative;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 0;
      width: 17px;
      height: 17px;
      background: url("~src/assets/images/png-icons/check-sprite.png") no-repeat bottom left;
    }
  }
}

.forget-pass {
  font-size: 15px;
  font-weight: 100;
  margin-top: 16px;
  color: rgba(0, 0, 0, 0.5);
}

.popup-headline {
  text-align: center;
  font-size: 28px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.75);
  margin-bottom: 50px;

  span {
    font-weight: 400;
  }

  & + .subtitle {
    margin-top: -20px;
  }
}

.subtitle {
  font-size: 19px;
  font-weight: 100;
  color: rgba(0, 0, 0, 0.75);
  text-align: center;
  margin-bottom: 50px;
}

.form-control {
  &.field {
    width: 440px;
    height: 55px;
    font-size: 20px;
    font-weight: 100;
    color: #999999;
    background: #f4f8f6;
    padding: 0 12px;
    margin-bottom: 0;
    border: 0;
    @include shadow(none);
    @include radius(6px);
  }

  &.select {
    -webkit-appearance: none;
  }

  &::-webkit-input-placeholder {
    color: #999 !important;
  }

  &:-moz-placeholder {
    color: #999 !important;
  }

  &::-moz-placeholder {
    color: #999 !important;
  }
}

.auth-btn {
  font: 500 25px/64px $font-family-base;
  padding: 0 56px;
  border: 0;
  min-width: 140px;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  @include radius(6px);
  @include shadow(0 0 0 0 transparent);

  &.filled {
    background: #8ab29e;
    color: #fff;

    &:hover {
      background: #adc9bb;
    }

    &:disabled {
      background: #d0e0d8;
    }

    &:active {
      background: #8ab29e;
      @include shadow(3px 3px 1px 0 #666);
    }
  }

  &.outline {
    border: 3px solid #8ab29e;
    color: #8ab29e;
    background: #fff;
    line-height: 58px;

    &:hover {
      border-color: #adc9bb;
      color: #adc9bb;
    }

    &:disabled {
      border-color: #d0e0d8;
      color: #d0e0d8;
    }

    &:active {
      border: 3px solid #8ab29e;
      color: #8ab29e;
      @include shadow(0px 14px 24px 0px rgba(5, 2, 6, 0.15));
    }
  }
}


.categories-list-wrap {
  height: 390px;
  margin-bottom: 30px;
  padding-right: 25px;
}

.categories-list {
  margin: 0;
  padding: 0 0 0 25px;

  li {

  }
}

.location-platform-wrap {
  margin-bottom: 40px;

  .location-list {
    margin: 0;
    padding-left: 40%;
  }
}


/* === Custom Scrollbar === */
ng-scrollbar {
  --scrollbar-color: transparent;
  --scrollbar-container-color: #8ab29e;
  --scrollbar-thumb-color: #fff;
  --scrollbar-thumb-hover-color: rgba(255, 255, 255, 0.6);
  --scrollbar-border-radius: 10px;
  --scrollbar-size: 8px;
  --scrollbar-padding: 3px;
  --scroll-view-margin: 0;
  --scroll-view-color: transparent;

  ::ng-deep {
    ng-scrollbar-y {
      @include radius(10px);
    }
  }
}

/* === Location with Map box === */
.location-select-wrap {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 30px;

  .map-box {
    width: 130px;
    height: 180px;
    margin-right: 40px;
    background: #ccc;
    @include radius(10px);

    agm-map {
      height: 180px;
    }
  }

  .form-box {
    flex-basis: 0;
    flex-grow: 1;

    .input-group {
      margin-bottom: 16px;
    }

    .form-control {
      height: 32px;
      padding: 0 8px;
      width: 100%;
    }

    &:only-child {
      max-width: 300px;
    }
  }
}


/* === Grey Box === */
.grey-box {
  width: 100%;
  padding: 20px 25px;
  display: flex;
  align-items: flex-start;
  background: #f3f7f5;
  margin-bottom: 50px;

  .icon-box {
    flex: 0 0 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .info-box {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 20px;

    .title {
      font-weight: 400;
      margin-bottom: 0;
    }

    .text {
      font-weight: 100;
      margin-bottom: 0;
    }
  }

  nav {
    flex: 0 0 50px;
    display: flex;
    flex-direction: column;

    a {
      color: #8ab29e;
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
}

/* === Services table === */
.services-table {
  width: 100%;
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 40px;

  tr {
  }

  td {
    padding: 3px 12px;
    line-height: 2;

    &:first-child {
      text-align: left;
    }

    &[colspan] {
      background: #f3f7f5;
      line-height: 1.2;
      @include radius(6px);
    }
  }

  th {
    padding: 5px 12px;
    font-weight: 100;
  }

  thead {
    th {
      padding-bottom: 20px;
    }
  }

  tbody {
    tr:last-child {
      td {
        padding-bottom: 20px;
      }
    }
  }
}

/* === Terms and Conditions === */
.terms-list {
  margin: 0 0 40px;
  padding: 0;

  li {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 32px;
    position: relative;
    color: rgba(0, 0, 0, 0.8);

    .custom-switch {
      padding-left: 64px;

      .custom-control-input {
        &:checked ~ .custom-control-label {
          &::before {
            border-color: #8ab29e;
            background: #8ab29e;
          }

          &::after {
            background: #fff;
            -webkit-transform: translateX(17px);
            transform: translateX(17px);
          }
        }

        &:focus ~ .custom-control-label::before {
          @include shadow(none);
        }
      }

      .custom-control-label {
        position: static;
        &::before {
          left: 0;
          top: 0;
          width: 46px;
          height: 28px;
          border-color: #8ab29e;
          @include radius(20px);
        }

        &::after {
          width: 20px;
          height: 20px;
          background: #8ab29e;
          top: 4px;
          left: 5px;
          @include radius(20px);
        }
      }
    }
  }
}

/* === Schedule List === */
.schedule-list {
  margin-bottom: 40px;
  & > li {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    & + li {
      margin-top: 22px;
    }
    .custom-check {
      flex-basis: 0;
      flex-grow: 1;
      color: #000;
    }
    .column {
      flex-basis: 0;
      flex-grow: 1;
    }
    .schedule-toggle {
      border: 0;
      font-size: 20px;
      font-weight: 100;
      &:after {
        display: none;
      }
      span {}
      img {
        margin-left: 12px;
      }
    }
    .closed {
      font-size: 16px;
    }
    .add-time {
      font-size: 16px;
      color: #8ab29e;
      font-weight: 100;
    }
  }
}
