<div class="clients-col">
  <div class="media panel current-client">
    <img src="assets/images/placeholders/users/andreas.png" class="mr-3 media-img" alt="Img 1">
    <div class="media-body">
      <h6 class="m-0">Andreas Brixen</h6>
      <p class="mb-0"><a href="#">Edit Client Info</a></p>
    </div>
  </div>
  <ul class="info-list mt-4">
    <li>
      <span>Balance</span>
      <p class="text-danger">−€1,260</p>
    </li>
    <li>
      <span>Paid</span>
      <p>&euro;12,220</p>
    </li>
    <li>
      <span>Discount</span>
      <p>5%</p>
    </li>
    <li>
      <span>Email</span>
      <p><a href="#">northking@gmail.com</a></p>
    </li>
    <li>
      <span>Phone Number</span>
      <p>+123 456 789-10-11</p>
    </li>
    <li>
      <span>Phone Number</span>
      <p>Head of Printing House</p>
    </li>
    <li>
      <span>Date of Birth</span>
      <p>Aug 21, 1981</p>
    </li>
  </ul>
</div>
