<ngb-tabset type="pills">
  <ngb-tab title="1.0. User">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Sign up for a free trial</h1>
        <form>
          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/username.png" alt="Name" width="32"/>
            </span>
            <input type="text" class="form-control field" placeholder="Choose a username"/>
          </div>

          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/email.png" alt="Email" width="34"/>
            </span>
            <input type="email" class="form-control field" placeholder="What's your e-mail?"/>
          </div>

          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/password.png" alt="Password" width="32"/>
            </span>
            <input type="password" class="form-control field" placeholder="Choose a Password"/>
          </div>

          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/phone.png" alt="Phone" width="34"/>
            </span>
            <input type="email" class="form-control field" placeholder="What's your phone number?"/>
          </div>

          <div class="d-flex flex-column align-items-center">
            <button class="auth-btn filled">Start my treefy account</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->


  <ngb-tab title="2.0. Location">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Add your business’ information</h1>
        <form>
          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/business.png" alt="Business" width="32"/>
            </span>
            <input type="text" class="form-control field" placeholder="What’s the name of your business?*"/>
          </div>
          <div class="input-group with-icon">
            <span class="icon-box">
              <img src="assets/images/png-icons/phone.png" alt="Phone" width="34"/>
            </span>
            <input type="email" class="form-control field" placeholder="What’s the business’ phone number?*"/>
          </div>
          <div class="input-group with-icon with-r-btn">
            <span class="icon-box">
              <img src="assets/images/png-icons/category.png" alt="Category" width="32"/>
            </span>
            <input type="text" class="form-control field" placeholder="Select a category for your business*" readonly/>
            <button type="button" class="details-btn">
              <img src="assets/images/png-icons/arrow_right.png" alt="Next"/>
            </button>
          </div>
          <div class="input-group with-icon with-r-btn">
            <span class="icon-box">
              <img src="assets/images/png-icons/location.png" alt="Location" width="30"/>
            </span>
            <input type="text" class="form-control field" placeholder="What’s its location?*" readonly/>
            <button type="button" class="details-btn">
              <img src="assets/images/png-icons/arrow_right.png" alt="Next"/>
            </button>
          </div>
          <div class="input-group with-icon with-r-btn">
            <span class="icon-box">
              <img src="assets/images/png-icons/time.png" alt="Time" width="32"/>
            </span>
            <input type="text" class="form-control field" placeholder="Monday-Friday 09:00-18:00" readonly/>
            <button type="button" class="details-btn">
              <img src="assets/images/png-icons/arrow_right.png" alt="Next"/>
            </button>
          </div>


          <div class="btn-wrap">
            <button class="auth-btn outline">Delete</button>
            <button class="auth-btn filled">Continue</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="2.1. Categories">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Select categories for your business</h1>
        <form>
          <div class="input-group search">
            <span class="icon-box">
              <img src="assets/images/png-icons/search.png" alt="Name" width="16"/>
            </span>
            <input type="text" class="form-control field" placeholder="Search by category"/>
          </div>

          <div class="categories-list-wrap">
            <ng-scrollbar>
              <ul class="categories-list">
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Dentistas</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos torácicos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos plásticos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Enfermeros</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos plásticos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Endocrinos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos torácicos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Digestólogos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Dietistas y nutricionistas</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Farmacólogos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Dentistas</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Dietistas y nutricionistas</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos torácicos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos plásticos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Cirujanos plásticos</span>
                  </label>
                </li>
                <li>
                  <label class="custom-check">
                    <input class="checkbox" type="checkbox" value="">
                    <span>Enfermeros</span>
                  </label>
                </li>
              </ul>
            </ng-scrollbar>
          </div>

          <div class="btn-wrap">
            <button class="auth-btn filled">Continue</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="2.2. Select Location">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Location of [name of business]</h1>
        <form>
          <div class="location-platform-wrap">
            <p class="text-center">What is your platform?*</p>
            <ul class="location-list">
              <li>
                <label class="custom-check">
                  <input class="checkbox" type="checkbox" value="">
                  <span>Online</span>
                </label>
              </li>
              <li>
                <label class="custom-check">
                  <input class="checkbox" type="checkbox" value="">
                  <span>Offline</span>
                </label>
              </li>
            </ul>
          </div>

          <div class="btn-wrap">
            <button class="auth-btn filled">Continue</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="2.2.1 Select Location">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Location of [name of business]</h1>
        <form>
          <div class="location-select-wrap">
            <div class="map-box">
              <!---
              <agm-map [latitude]="43.2633182" [longitude]="-2.9685838" [zoom]="11" [zoomControl]="false" [disableDefaultUI]="false" [streetViewControl]="false">
                <agm-marker [latitude]="43.2633182" [longitude]="-2.9685838"></agm-marker>
              </agm-map>
              --->
            </div>
            <div class="form-box">
              <p>Add the address*</p>
              <div class="input-group">
                <input type="text" class="form-control field" placeholder="City"/>
              </div>
              <div class="input-group">
                <input type="text" class="form-control field" placeholder="Street"/>
              </div>
              <div class="input-group">
                <input type="text" class="form-control field" placeholder="Postal Code"/>
              </div>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="auth-btn filled">Continue</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="2.2.2 Location Dropdown">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Location of [name of business]</h1>
        <form>
          <div class="location-select-wrap">
            <div class="form-box">
              <p class="text-center">What software do you use?*</p>
              <div class="input-group">
                <select class="form-control field select">
                  <option>-- Select Software ---</option>
                  <option>Skype</option>
                  <option>Slack</option>
                  <option>Gmail</option>
                </select>
              </div>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="auth-btn filled">Save</button>
          </div>
        </form>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="2.4 Location Overview">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Business information</h1>
        <h4 class="subtitle">This is the information you provided</h4>
      </div>
      <div class="grey-box">
        <div class="icon-box">
          <img src="assets/images/png-icons/business.png" alt="Business" width="50"/>
        </div>
        <div class="info-box">
          <h5 class="title">[Name of the business]</h5>
          <p class="text">[Address]</p>
        </div>
        <nav>
          <a href="#">Edit</a>
        </nav>
      </div>
      <div class="auth-popup-panel">
        <div class="btn-wrap">
          <button class="auth-btn outline">Add more</button>
          <button class="auth-btn filled">Continue</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->

  <ngb-tab title="3.0 Profile Info">
    <ng-template ngbTabContent>
      <div class="auth-popup-panel">
        <h1 class="popup-headline">Now you can edit profile's information</h1>
        <h4 class="subtitle">Add staff now or do it later</h4>
      </div>
      <div class="grey-box">
        <div class="icon-box">
          <img src="assets/images/png-icons/profile.png" alt="Profile" width="68"/>
        </div>
        <div class="info-box">
          <h5 class="title">John Doe</h5>
          <p class="text">
            Account manager<br/>
            E-mail: b1244355@urhen.com
          </p>
        </div>
      </div>
      <div class="auth-popup-panel">
        <div class="btn-wrap">
          <button class="auth-btn filled">Edit</button>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <!-- .ngb-tab -->


</ngb-tabset>
