<div class="clients-section-wrapper">
  <div class="container-fluid">

    <h1 class="container-headline">Clients</h1>

    <div class="row clients-section-outer-wrap">
      <div class="col">
        <app-client-search></app-client-search>
      </div>
      <div class="col">
        <app-client-info></app-client-info>
      </div>
      <div class="col">
        <app-client-appointments></app-client-appointments>
      </div>
      <div class="col">
        <app-client-payments></app-client-payments>
      </div>
    </div>
  </div>
</div>
