<div class="auth-popup-body">
  <h1 class="popup-headline">Sign in <span>treefy</span></h1>
  <form>

    <div class="input-group with-icon">
      <span class="icon-box">
        <img src="assets/images/png-icons/email.png" alt="Email" width="35"/>
      </span>
      <input type="email" class="form-control field" placeholder="Email"/>
    </div>

    <div class="input-group with-icon">
      <span class="icon-box">
        <img src="assets/images/png-icons/password.png" alt="Password" width="37"/>
      </span>
      <input type="password" class="form-control field" placeholder="Password"/>
    </div>

    <div class="form-check remember-me">
      <input class="form-check-input" type="checkbox" value="">
      <label class="form-check-label">
        Remember login data
      </label>
    </div>

    <div class="btn-wrap">
      <button class="auth-btn filled">Sign In</button>
      <a href="#" class="forget-pass">Forgotten password?</a>
    </div>
  </form>
</div>
