<div class="auth-popup-body">
  <h1 class="popup-headline">Sign in <span>treefy</span></h1>
  <form>

    <div class="input-group with-icon">
      <span class="icon-box">
        <img src="assets/images/png-icons/email.png" alt="Email" width="32"/>
      </span>
      <input type="email" class="form-control field" placeholder="Email"/>
    </div>

    <div class="input-group with-icon">
      <span class="icon-box">
        <img src="assets/images/png-icons/password.png" alt="Password" width="32"/>
      </span>
      <input type="password" class="form-control field" placeholder="Password"/>
    </div>

    <label class="remember-me">
      <input class="checkbox" type="checkbox" value="">
        <span>Remember login data</span>
    </label>

    <div class="d-flex flex-column align-items-center">
      <button class="auth-btn filled">Sign In</button>
      <a href="#" class="forget-pass">Forgotten password?</a>
    </div>
  </form>
</div>
