$experimental: true !default; // set True for support Old Browsers

// custom mixins
@mixin full-width() {
  width: 100%;
  float: left;
  position: relative;
}

// Responsive
@mixin md-screen {
  @media only screen and (max-width: 991.98px) {
    @content;
  }
}

@mixin sm-screen {
  @media only screen and (max-width: 767.98px) {
    @content;
  }
}

@mixin xs-screen {
  @media only screen and (max-width: 575.98px) {
    @content;
  }
}

@mixin from-lg-screen {
  @media only screen and (min-width: 992px) {
    @content;
  }
}

@mixin from-md-screen {
  @media only screen and (min-width: 768px) {
    @content;
  }
}

@mixin from-xs-screen {
  @media only screen and (min-width: 576px) {
    @content;
  }
}

@mixin clearfix() {
  &:before,
  &:after {
    content: "";
    display: table;
  }
  &:after {
    clear: both;
  }
}

@mixin cross-browser($property, $css) {
  -webkit-#{$property} : $css;
  -moz-#{$property} : $css;
  -o-#{$property} : $css;
  #{$property} : $css;
}

@mixin abs-pos ($top: auto, $right: auto, $bottom: auto, $left: auto) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  position: absolute;
}

@mixin background-size($value) {
  -webkit-background-size: $value;
  background-size: $value;
}

@mixin box-sizing($type:border-box) {
  @if $experimental {
    -moz-box-sizing: $type;
    -webkit-box-sizing: $type;
  }
  box-sizing: $type;
}

@mixin radius($radius:$global-radius) {
  @if $radius {
    @if $experimental {
      -webkit-border-radius: $radius;
    }
    border-radius: $radius;
  }
}

@mixin shadow($value) {
    @if $experimental {
      -webkit-box-shadow: $value;
      -moz-box-shadow: $value;
    }
    box-shadow: $value;
}

@mixin smooth($speed) {
  @if $experimental {
    -webkit-transition: all $speed ease-out;
    -moz-transition: all $speed ease-out;
    -o-transition: all $speed ease-out;
  }
  transition: all $speed ease-out;
}

@mixin transform($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  -o-transform: $value;
  transform: $value;
}

@mixin animation-delay($time) {
  @if $experimental {
    -webkit-animation-delay: $time;
    -moz-animation-delay: $time;
    -o-animation-delay: $time;
  }
  animation-delay: $time;
}

@mixin animation-duration($time) {
  @if $experimental {
    -webkit-animation-duration: $time;
    -moz-animation-duration: $time;
    -o-animation-duration: $time;
  }
  animation-duration: $time;
}



