// Rewrite default Bootstrap variables
$font-family-base:  "Source Sans Pro";
$grid-columns:      24 !default;
$headings-color:    #909090;

$btn-border-radius:           20px;
$btn-border-radius-lg:        20px;
$btn-border-radius-sm:        20px;

// Custom variables
$blue:              #4a8cff;
$green:             #61E432;
$baseColor:         #566172;


