@import "variables";
@import "mixins";

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-weight: 200;
  font-size: 39px;
}

h2, h3 {
  font-size: 24px;
  font-weight: 400;
}
h4, h5, h6 {
  color: $baseColor;
}

.text-secondary {
  color: #a3a3a3 !important;
}

.pb-p17 {
  padding-bottom: 17px !important;
}
.pt-p17 {
  padding-top: 17px !important;
}

.fw-200 {font-weight: 200;}
.fw-300 {font-weight: 300;}
.fw-600 {font-weight: 600;}
.fw-900 {font-weight: 900;}

/* === Components. Forms === */
.btn {
  &.form-button {
    &:not(.btn-sm):not(.btn-sm) {
      padding: 0.438rem 2.377rem;
    }
    &.btn-sm {
      font-size: 16px;
      padding: 0.188rem 1.534rem;
    }
    &.dotted {
      border-style: dashed;
    }
  }
  &.btn-outline-secondary {
    border-color: #e0e0e0;
  }
}

.form-control {
  &:focus {
    border-color: #6ca2ff;
    @include shadow(0 0 0 1px #6ca2ff);
  }
  &.lg {
    height: 46px;
  }
}

.controls-nav {
  .btn + .btn {
    margin-left: 15px;
  }
}

.input-group {
  &[class*="addon"] {
    position: relative;
    &.addon-search {
      &:after {
        content: "";
        width: 19px;
        height: 21px;
        display: block;
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 4;
        background: url(~src/assets/images/svg/search.svg) no-repeat top center;
        @include background-size(cover);
      }
    }
    &.addon-date {
      &:after {
        content: "";
        width: 21px;
        height: 20px;
        display: block;
        position: absolute;
        right: 10px;
        top: 14px;
        z-index: 4;
        background: url(~src/assets/images/svg/calendar.svg) no-repeat top center;
        @include background-size(cover);
      }
    }
    &.addon-time {
      &:after {
        content: "";
        width: 18px;
        height: 19px;
        display: block;
        position: absolute;
        right: 10px;
        top: 13px;
        z-index: 4;
        background: url(~src/assets/images/svg/time.svg) no-repeat top center;
        @include background-size(cover);
      }
    }
    .form-control {
      padding-right: 40px;
    }
  }
}

/* === Shared Components === */
.container-headline {
  margin-bottom: 34px;
}
.section-headline {
  font-size: 24px;
  color: #909090;
}


.info-list {
    margin: 0;
    padding: 0;
    li:last-child {
      p {
        margin-bottom: 0;
      }
    }
    span {
      color: #a3a3a3;
    }
    p {
      font-size: 18px;
      color: #626262;
    }
}

.custom-counter-wrap {
  display: flex;
  align-items: center;
  .button {
    img {

    }
  }
  .form-control {
    width: 50px;
    margin: 0 8px;
    text-align: center;
  }
}

.radio-toggle-wrap {
  display: flex;
  justify-content: flex-start;
  .toggle-box {
    cursor: pointer;
    margin-bottom: 0;
    &:first-child {
      span { @include radius(50px 0 0 50px); }
    }
    &:last-child {
      span {
        border-left: 0;
        @include radius(0 50px 50px 0);
      }
    }
    [type="radio"] {
      position: absolute;
      left: -9999px;
      opacity: 0;
      &:checked + span {
        background: #f0f0f0;
      }
    }
    span {
      width: 38px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #626262;
      background: #fff;
      border: solid 1px #e0e0e0;
    }
  }
}

.datepicker-box {
  display: flex;
  align-items: center;
  .label-text {
    color: #a3a3a3;
  }
  .form-control {
    margin: 0 10px;
    width: 146px;
  }
  .calendar-btn {
    img {
      width: 21px;
    }
    &:hover {}
  }
}


/* === Components. Modal === */
.modal-header {
  border-bottom: 0;
  .modal-title {
    color: #909090;
  }
  .close {
    opacity: 1;
    img {
      width: 26px;
    }
  }
}

.modal-footer {
  border-top-color: #f5f5f5;
}


/* ======== Repeat Service Popup ======= */

/* Don't know how to apply these styles in Appointment Component,
   this should be moved to relevant component later */

.modal {
  &.repeat-service {
    .modal-dialog {
      max-width: 840px;
    }

    .row {
      &.first {
        border-bottom: 1px solid #f5f5f5;
        [class*="col"] {
          padding-bottom: 17px;
        }
      }
      &.second {}
      [class*="col"]:first-child {
        border-right: 1px solid #f5f5f5;
      }
    }

    .service-info-list {
      padding: 17px 15px;
      margin-bottom: 0;
      li {
        span {}
        p {
          font-size: 18px;
          line-height: 1;
        }
      }
    }

    .discount-info-list {
      padding: 17px 15px;
      margin-bottom: 0;
      border-top: 1px solid #f5f5f5;
      & > li {}
      .set-discount-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
      }
    }

    .totals-list {
      padding: 17px 15px;
      margin-bottom: 0;
      border-top: 1px solid #f5f5f5;
      text-align: right;
      li {
        p {
          color: #a3a3a3;
          margin-bottom: 0;
          line-height: 1.3;
          span {
            color: #626262;
            font-size: 18px;
            margin-left: 5px;
          }
        }
        &.total {
          margin-top: 20px;
          span {
            font-size: 35px;
          }
        }
      }
    }

    .calendar-lines {
      .line {
        padding: 15px 17px;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.05));
        @include radius(4px);
        & + .line {
          margin-top: 12px;
        }
        .datepicker-box {
          .form-control {
            width: 120px;
          }
        }
        .timepicker-box {
          display: flex;
          align-items: center;
          .time-btn {
            img {
              width: 18px;
            }
          }
          .input-group {
            width: 70px;
            margin: 0 8px;
            .form-control {
              text-align: center;
            }
          }
          .divider {
            font-size: 18px;
            color: #909090;
          }
          .close-btn {
            margin-left: 14px;
            img {
              width: 21px;
            }
          }
        }
      }
    }
  }
}




/* === Appointment Shared Elements === */
.appointment-service-actions {
  display: flex;
  font-size: 16px;
  .number {
    color: #a3a3a3;

  }
  nav {
    a {
      margin-left: 15px;
    }
  }
}



.panel {
  padding: 15px 17px;
  background: #fff;
  @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.05));
  @include radius(4px);
  @include from-md-screen {
    min-height: 74px;
  }
  &.selected {
    @include radius(11px);
    border: solid 2px #97a6bf;
    position: relative;
    @include from-md-screen {
      min-height: 78px;
    }
    .close-panel {
      position: absolute;
      z-index: 2;
      top: 8px;
      right: 10px;
    }
    h6 {
      font-size: 18px;
    }
    .text-secondary {
      border-top: 1px solid #f2f2f2;
      padding-top: 12px;
      margin-top: 16px;
      align-items: center;
      .price {
        font-size: 22px;
        font-weight: 600;
        color: #626262;
      }
    }
  }
  &.disabled {
    background-color: #f5f5f5;
    h6 {
      color: #a3a3a3;
    }
  }
  &:not(.media) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &.media {
    align-items: center;
    .media-img {
      width: 44px;
      border-radius: 50%;
    }
  }
  &.default {
    h6 {
      color: #a3a3a3;
    }
  }
  &.active {
    border: solid 2px #b8b8b8;
  }
  &.current-client {
    background: none;
    padding: 0;
    min-height: 0;
    @include shadow(none);
    &.media {
      .media-img {
        width: 50px;
      }
    }
    h6 {
      color: #909090;
      font-size: 24px;
      font-weight: 400;
    }
  }
  & + .panel {
    margin-top: 12px;
  }
  h6 {
    font-weight: 600;
    display: block;
  }
}

.entity-list {
  margin: 15px 0 0;
  .panel-divider {
    display: block;
    height: 1px;
    background: url(~src/assets/images/svg/h-dots.svg) repeat-x top left;
    margin: 15px 0;
  }
}

// Custom Switch box
.switch-control {
  display: flex;
  align-items: center;
}
.switch-box {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
  margin-right: 6px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #61E432;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #61E432;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

/* === Info Cards === */
.section-headline + .info-card-wrap {
  margin-top: 30px;
}
.info-card-wrap {}

.info-card {
  position: relative;
  z-index: 2;
  padding: 15px 17px;
  background: #fff;
  border: solid 1px rgba(151, 151, 151, 0.16);
  @include radius(4px);
  @include from-md-screen {
    min-height: 74px;
  }
  & + .info-card {
    margin-top: 15px;
  }
  &-collapsed {
    position: relative;
    @include shadow(0 2px 9px 0 rgba(0, 0, 0, 0.03));
  }
  &-expanded {
    border: solid 1px #e0e0e0;
    @include radius(4px);
    .header {
      font-size: 20px;
      font-weight: 600;
      color: #626262;
      line-height: 36px;
      text-align: center;
      border-bottom: solid 1px #e6e6e6;
    }
    .body {
      .list {
        padding: 0;
        margin: 0;
        li {
          line-height: 1.4;
          padding: 10px 15px;
          & + li {
            border-top: 1px solid #f2f2f2;
          }
        }
      }
    }
  }
  .row {
     align-items: center;
  }
  .col.text-center {
    padding-left: 5px;
    padding-right: 5px;
  }
  h6 {
    font-size: 20px;
    color: #626262;
    &.big {
      font-size: 30px;
    }
  }
}

[class*="info-card"] + [class*="info-card"] {
  margin-top: 15px;
}

.bottom-layer {
   position: relative;
   height: 10px;
   margin-top: -5px;
   z-index: 0;
   border: solid 1px rgba(151, 151, 151, 0.16);
   border-top: 0;
   @include radius(0 0 4px 4px);
   & + .bottom-layer {
     margin-top: -5px;
   }
}
