@import "mixins";

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

h1 {
  font-weight: 200;
  font-size: 39px;
}

h2, h3 {
  font-size: 24px;
  font-weight: 400;
}
h4, h5, h6 {
  color: $baseColor;
}

/* === Components. Forms === */
.btn {
  &.form-button {
    &:not(.btn-sm):not(.btn-sm) {
      padding: 0.438rem 2.377rem;
    }
    &.btn-sm {
      font-size: 16px;
      padding: 0.188rem 1.534rem;
    }
  }
}

.form-control {
  &:focus {
    border-color: #6ca2ff;
    @include shadow(0 0 0 1px #6ca2ff);
  }
  &.lg {
    height: 46px;
  }
}

.input-group {
  &[class*="addon"] {
    position: relative;
    &.addon-search {
      &:after {
        content: "";
        width: 19px;
        height: 21px;
        display: block;
        position: absolute;
        right: 10px;
        top: 12px;
        z-index: 4;
        background: url(~src/assets/images/svg/search.svg) no-repeat top center;
        @include background-size(cover);
      }
    }
    &.addon-date {
      &:after {
        content: "";
        width: 21px;
        height: 20px;
        display: block;
        position: absolute;
        right: 10px;
        top: 14px;
        z-index: 4;
        background: url(~src/assets/images/svg/calendar.svg) no-repeat top center;
        @include background-size(cover);
      }
    }
    .form-control {
      padding-right: 40px;
    }
  }
}


/* === Appointment Shared Elements === */
.appointment-service-actions {
  display: flex;
  font-size: 16px;
  .number {
    color: #a3a3a3;

  }
  nav {
    a {
      margin-left: 15px;
    }
  }
}



.panel {
  padding: 15px 17px;
  background: #fff;
  @include shadow(0 2px 10px 0 rgba(0, 0, 0, 0.05));
  @include radius(4px);
  @include from-md-screen {
    min-height: 74px;
  }
  &:not(.media) {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &.media {
    align-items: center;
    .media-img {
      width: 44px;
      border-radius: 50%;
    }
  }
  &.default {
    h6 {
      color: #a3a3a3;
    }
  }
  & + .panel {
    margin-top: 12px;
  }
  h6 {
    font-weight: 600;
    display: block;
  }
  .text-secondary {
    color: #a3a3a3 !important;
  }
}

.entity-list {
  margin: 15px 0 0;
  .panel-divider {
    display: block;
    height: 1px;
    background: url(~src/assets/images/svg/h-dots.svg) repeat-x top left;
    margin: 15px 0;
  }
}

// Custom Switch box
.switch-control {
  display: flex;
  align-items: center;
}
.switch-box {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 28px;
  margin-right: 6px;
  input {
    opacity: 0;
    width: 0;
    height: 0;
    &:checked + .slider {
      background-color: #61E432;
    }

    &:focus + .slider {
      box-shadow: 0 0 1px #61E432;
    }

    &:checked + .slider:before {
      -webkit-transform: translateX(17px);
      -ms-transform: translateX(17px);
      transform: translateX(17px);
    }
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #E5E5E5;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 28px;
    &:before {
      position: absolute;
      content: "";
      height: 24px;
      width: 24px;
      left: 2px;
      bottom: 2px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 50%;
    }
  }
}

